<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>

{% extends "learning_logs/base.html" %}

{% block header %}
    <h2>There has been an internal error. (500)</h2>
    <p>
        New boy in the neighborhood
        Lives downstairs and it's understood.
        He's there just to take good care of me,
        Like he's one of the family.

        Charles in Charge
        Of our days and our nights
        Charles in Charge
        Of our wrongs and our rights

        And I sing, I want,
        I want Charles in Charge of me.
    </p>
{% block header %}

</body>
</html>